{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>{{ title }}</title>
    {% endif %}
    {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/index.css' %}">

    {% endblock styles %}

</head>

<body>
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{message.tags}}">
            {{message}}
        </div>
      {% endfor %}
    {% endif%}
    {% block content %}
    {% include 'navbar.html' %}

    {% endblock %}
    {% block scripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous">
    </script>
    {% bootstrap_javascript %}

    <script src="{% static 'js/index.js' %}"></script>
    {% endblock %}
</body>

</html>