{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container col d-flex justify-content-center" style="margin-top:7%;>
  
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6 mt-4 ">
          <div class="card" style="margin-top:2%; padding:20px">
            <img class="rounded-circle account-img d-block mx-auto" src="{{ user.profile.image.url }}">
            <h5 class="text-center mt-3">{{user.username}}</h5>
            <p class="text-center"> {{user.email}}</p>
              <div class="card-body">
                  <h5 class="card-title"><a>Update Your Profile</a></h5>
                  <div class="card-text">
                      <form action="" method="post" enctype="multipart/form-data" novalidate>
                          {% csrf_token %}
                          {{ u_form|crispy }}
                          {{ p_form|crispy }}
                          <button class="btn btn-sm btn-info" type="submit">Update</button>

                      </form>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-md-3"></div>
  </div>
  
</div>
    
{% endblock content %}





